@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font_heading: 'Rubik', serif;
$font_sub_heading: 'Pacifico', serif;

.skills {
    width: 80%;
    margin: 5% 5% 25% 15%;
    font-size: 24px;
    line-height: 30px;
    font-family: $font_heading;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

h2 {
    font-family: $font_sub_heading;
    font-weight: 400;
    margin-bottom: 30px;
}

.top {
    width: 100%;

    p {
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 15px;

        span {
            font-weight: 700;
            color: #6f6f6f;
            
        }

        .link {
            text-decoration: underline;
            cursor: pointer;
        }

        .link:hover {
            color: #facf0f;
        }
    }

}

.bottom {
    width: 100%;

    .skill__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .card {
            width: fit-content;
            background-color: #CCCCD9;
            border-radius: 5px;
            padding: 4px;
            font-size: 20px;
            transition: transform .25s ease;
        }

        .card:hover {
            transform: scale(1.1);
        }
    }

}

@media (min-width: 550px) and (max-width: 950px) {
    .skills {
        width: 73%;
        margin: 5% 5% 25% 22%;
        font-size: 26px;
    }

    .top {
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (min-width: 950px) and (max-width: 1149px) {
    .skills {
        width: 70%;
        margin: 5% 5% 25% 22%;
        font-size: 26px;
    }

    .top {
        p {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

@media (min-width: 1150px) and (max-width: 1600px) {
    .skills {
        width: 80%;
        margin: 5% 5% 25% 15%;
        font-size: 24px;
        flex-wrap: nowrap;
    }

    .top {
        width: 60%;

        p {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .bottom {
        width: 40%;

        .skill__cards {
            gap: 10px;
            .card {
                font-size: 20px;
                padding: 9px;
            }
        }
    }
}

@media (min-width: 1600px) {

    .skills {
        width: 80%;
        margin: 5% 5% 25% 15%;
        font-size: 30px;
        flex-wrap: nowrap;
    }

    .top {
        width: 60%;
        p {
            font-size: 24px;
            line-height: 40px;
        }
    }

    .bottom {
        width: 40%;
        .skill__cards {
            gap: 20px;
            .card {
                font-size: 23px;
                padding: 10px 20px;
            }
        }
    }
}