@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font_heading: 'Rubik', serif;
$font_sub_heading: 'Pacifico', serif;

.home {
    position: absolute;
    z-index: 0;
    top: 0%;
    width: 95%;
    height: 90vh;
    margin: 30% 5% 0;
}

.home .heading {
    font-family: $font_heading;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: black;
}

.home .sub_heading {
    text-align: center;
    font-family: $font_sub_heading;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
}

.home .description {
    width: 90%;
    text-align: justify;
    margin: 50px 0 0 20px;
    font-size: 18px;
    font-family: $font_heading;
    font-weight: 400;
    line-height: 32px;

}

.home .description .highlight {
    background-color: #CCCCD9;
    border-radius: 5px;
    padding: 4px;
}

.button {
    display: inline-block;
    width: 70%;
    height: 60px;
    margin: 60px 15%;
    padding: 12px 0 12px;
    background-color: #facf0f;
    color: #333;
    font-family: $font_heading;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}

.button:hover {
    -webkit-animation: mover 1s alternate;
    animation: mover 1s alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

@media (min-width: 540px) {

    .home {
        width: 75%;
        margin: 5% 0 0 25%;
        text-align: left;
    }  
    .home .heading {
        font-size: 45px;
        text-align: left;
    } 
    .home .sub_heading {
        font-size: 28px;
        text-align: left;
    }
    .home .description {
        width: 80%;
        margin: 20px 0 0 0;
        line-height: 30px;
        text-align: left;
    }
    .button {
        width: 40%;
        margin: 50px 20%;
        padding: 14px 0 12px;
    }

}

@media (min-width: 1100px){

    .home {
        width: 80%;
        margin: 5% 0 0 15%;
    }
    .home .heading {
        font-size: 65px;
        text-align: left;
    }
    .home .sub_heading {
        font-size: 28px;
        text-align: left;
    }
    .home .description {
        width: 80%;
        margin: 20px 0 0 0;
        font-size: 18px;
        line-height: 35px;
        text-align: left;
    }
    .button {
        font-size: 16px;
        width: 30%;
        margin: 50px 30%;
        padding: 14px 0 12px;
    }

}

@media (min-width: 1700px){

    .home {
        width: 80%;
        margin: 5% 0 0 15%;
    }
    .home .heading {
        font-size: 70px;
        text-align: left;
    }
    .home .sub_heading {
        font-size: 32px;
        text-align: left;
    }
    .home .description {
        width: 80%;
        margin: 20px 0 0 0;
        font-size: 23px;
        line-height: 42px;
        text-align: left;
    }
    .button {
        font-size: 20px;
        width: 25%;
        margin: 50px 35%;
        padding: 15px 0 12px;
    }

}