* {
  user-select: none
}

body {
  overflow-x: hidden;
}

.common_background {
  position: relative;
  height: 80vh;
  width: 120%;
  opacity: 0.4;
}

@media (min-width: 540px) {
    .common_background {
        position: relative;
        height: 100vh;
        width: 100%;
        opacity: 0.4;
    }
}
